@import '../../scss/base/index.scss';

// html {
//   overflow: auto;
// }

.aboutContainer {
  background-color: white;
  min-height: 100vh;
  color: #212121;
  animation: none;
}

// About container

.about {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 90vw;
  margin-top: 5vh;
  margin-left: 5vw;
  background-color: #cdcdcd;
}

// About title

.title {
  position: absolute;
  font-size: 2.5rem;
  left: 10%;
  top: 50%;
}

// About title 2

.title2 {
  position: absolute;
  top: 19%;
  left: 40%;
  font-size: 1.8rem;
}

// About text

.text {
  position: absolute;
  left: 40%;
  top: 25%;
  right: 10%;
}

// About title 3

.title3 {
  position: absolute;
  top: 47%;
  left: 40%;
  font-size: 1.8rem;
}

// Image container

.image {
  position: relative;
  width: 50%;
}

// claudio image

.claudio {
  position: absolute;
  // height: 30%;
  top: 55%;
  left: 78%;
  // margin-top: 5vh;
  display: block;
  width: 50%;
  height: auto;
}

// image on hover

.image:hover .overlay {
  opacity: 1;
}

// claudio name

.name {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

// claudio overlay

.overlay {
  position: absolute;
  top: 55%;
  left: 78%;
  height: 32.8%;
  width: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

// Image2 container

.image2 {
  position: relative;
  width: 50%;
}

// Image on hover

.image2:hover .overlay2 {
  opacity: 1;
}

// michael image

.michael {
  position: absolute;
  // height: 30%;
  top: 55%;
  left: 30%;
  // margin-top: 5vh;
  display: block;
  width: 50%;
  height: auto;
}

// michael name

.name2 {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

// Michael overlay

.overlay2 {
  position: absolute;
  top: 55%;
  left: 30%;
  height: 32.8%;
  width: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}
