@import '../../scss/base/index.scss';

.text {
  margin-left: 1vw;
  p {
    margin-top: 1rem;
  }
  strong {
    font-weight: 800;
  }
}

// About container

.aboutContainer {
  background-color: white;
  height: 100vh;
  color: #212121;
}

// Inner container

.innerContainer {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 90vw;
  margin-top: 5vh;
  margin-left: 5vw;
  background-color: #cdcdcd;
  flex-wrap: wrap;
}

// About title container

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 33%;
  // border: 1px solid red;
}

// About main title

.title {
  font-size: 2.5rem;
  margin-left: 2vw;
}

// about the project content container

.aboutProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1vw;
  height: 49%;
}

// about title

.aboutTitle {
  font-size: 1.8rem;
  margin-left: 1vw;
  strong {
    font-weight: 500;
  }
}

.links {
  color: #212121;
}

// team title

.teamTitle {
  // display: flex;
  font-size: 1.8rem;
  margin-left: 1vw;
  // border: 3px solid greenyellow;
  width: 100%;
  height: auto;
}

// image text container

.imageTextContainer {
  width: 64%;
}

// team container

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  // border: 2px solid gold;
  height: 49%;
  margin-left: 1vw;
}

// team card container

.teamCardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

// team cards

.teamCard {
  width: 50%;
  height: 100%;
  margin-left: 1vw;
  // border: 2px solid rebeccapurple;
}

// claudio image container

.claudioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// michael image container

.michaelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// claudio image

.claudio {
  border-radius: 3%;
  width: 90%;
  height: auto;
}

// michael image

.michael {
  border-radius: 3%;
  width: 90%;
  height: auto;
}
