@import '../../scss/base/index.scss';

.color {
  color: $primary-color;
}

.slideContainer {
  width: 100%;
  height: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 50vw;
  height: 30vh; /* Specified height */
  background: transparent;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  // -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  // transition: opacity 0.2s;
}

// /* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

// /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25vw;
  height: 30vh;
  background-image: url(./Images/center.svg);
  background-size: 100%;
  background-repeat: none;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25vw;
  height: 30vh;
  background-image: url(./Images/center.svg);
  background-size: 75%;
  cursor: pointer; /* Cursor on hover */
}
